/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content h1 {
    font-family: 'EB Garamond', serif;
        font-size: 28px;
}

/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

#categories {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

#categories:hover {
    background-color: #004687;
}

#categories:last-child {
    margin-right: 0;
}

#profile {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

#profile:hover {
    background-color: #004687;
}

.profile:last-child {
    margin-right: 0;
}

#search-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
    font-size: 16px;
}

#search-button:hover {
    background-color: #007BFF;
}

/* Login and Sign Up Form */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0; 
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Logout Button */
#logout-btn {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

#logout-btn:hover {
    background-color: #004687;
}

.login-signup-buttons {
    text-align: center;
}

.login-signup-buttons button {
    display: inline-block; /* Display buttons next to each other */
    margin: 0 10px; /* Add margin to create space between the buttons */
}

a {
    text-decoration: none; /* Remove underline */
    color: white; /* Set the text color to black */
}